<h1>New Todo</h2>

<form action="/lists/create" name="lists" method="post">
  <input type="text" name="lists[title]"><br>
  <textarea name="lists[description]"></textarea><br>
  <input type="submit"/>
</form>
